<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Registration Hours Report</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <h1>Conference Report: Registration information</h1>
        <p>Most sign-ups occured around: <%= popular_hour %>:00 in the day.</p>
        <p>The most popular day for signups was <%= popular_day %>.</p>
        <h4>List of days with registrations:</h4>
        <ul>
            <% reg_days_tracker.each do |day, number| %>
            <li><%= day[0..2] %>: <%= number  %></li>
            <% end %>
        </ul>
        <table>
                   <thead>
                       <tr>
                           <th>Hour of the Day</th>
                           <th>People Who Registered</th>
                       </tr>
                   </thead>
                   <tbody>
                       <% hours_tracker.each do | key, value|  %>
                       <tr>
                           <td><%= key%></td>
                           <td><%= value %></td>
                       </tr>
                       <% end %>
                   </tbody>
               </table>
    </body>
</html>